.series1 img {
    filter: brightness(50%);
    transition: filter 0.3s ease;
    width: 100%;
}

.series1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.smiski-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.smiski-container >div {
    width: 250px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.series1 img:hover {
    cursor: pointer;
}

.series1 a {
    font-size: 20pt;
    text-align: center;
    display: block;
}

.icon-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
}

.fa-heart {
    margin-right: 20px;
    filter: brightness(50%);
    transition: filter 0.3s ease;
    cursor: pointer;
}

.fa-heart.fa-solid {
    color: red;
    filter: none;
}

.fa-star {
    filter: brightness(50%);
    transition: filter 0.3s ease;
    cursor: pointer;
}

.fa-star.fa-solid {
    color: #e1ff00;
    filter: none;
}